# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chris LaRose
	email = cjlarose@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = true
[rebase]
	autosquash = true
[commit]
	verbose = true
[absorb]
	maxStack = 100
[merge]
	tool = nvr
[mergetool "nvr"]
	cmd = nvr -s -d $LOCAL $BASE $REMOTE $MERGED -c 'wincmd J | wincmd ='
